<header id="header" class="mt-header py-5">
  <app-menu></app-menu>
  <app-header></app-header>
</header>
<section id="sorte" class="bg-sorte pb-5">
  <div class="container">
    <div class="row ios justify-content-center pb-5">
      <div class="col-md-7 col-lg-6 col-xl-7">
        <div class="mt-0 text-center bg-creme mt-clube">
          <span class="d-flex flex-row">
            <div class="">
                <img src="./assets/images/smile.png" class="img-fluid smile  mr-2" alt="Clube Condor">
            </div>
            <span>
              <p class="clube-condor mt-4">
                Exclusivo para <span>clientes Clube Condor</span> com cadastro completo.
              </p>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <img src="./assets/images/produtos_promo.png" class="img-fluid mx-auto d-block pb-5 pt-2" alt=" Produtos Promoção">
      </div>
    </div>
    <div class="row ios justify-content-center">
      <div class="col-md-12 box-caixa">
        <app-sorte></app-sorte>
      </div>
    </div>
  </div>
</section>
<section id="participar" class="py-5">
  <app-participar></app-participar>
</section>
<section id="download" class="py-5">
  <div class="container">
    <div class="row ios justify-content-center">
      <div class="col-md-11 col-xl-9">
        <app-download></app-download>
      </div>
    </div>
  </div>
</section>
<section id="products" class="py-5">
  <div class="container">
    <app-produtos></app-produtos>
  </div>
</section>
<section id="produtos" class="py-5">
  <div class="container">
    <app-sorteio></app-sorteio>
  </div>
</section>
<footer id="footer" class="bg-fundo py-5">
  <div class="container">
    <app-footer></app-footer>
  </div>
</footer>
<app-scroll></app-scroll>
