@import "../../../../vars";
#header {
  z-index: 999;
  height: 100%;
}

.mt-clube{
  margin-top: -30px!important;
  @include radius();
  img{ margin-left: -15px!important; margin-top: 5px!important}
}

.clube-condor{
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.6rem;
  color: $color-H;
  @include bolder(600);
  span{
    color: $color-H;
    @include bolder(900);
  }
}
#participante{
  margin-top: 40px;
}


@media(max-width: 1024px) {
  #participante{
    margin-top: 20px;
  }

}

@media(max-width: 800px) {
  #participante{
    margin-top: 20px;
  }
  .clube-condor{ font-size: 1rem; line-height: 1.4rem;}
}

@media(max-width: 450px) {
  #participante{
    margin-top: 20px;
  }
  .mt-clube{
    margin-top: -40px!important;
    @include radius();
    img{ margin-left: -15px!important; margin-top: 20px!important}
  }
  .clube-condor{ font-size: 1rem; line-height: 1.4rem;}
}
