<div class="row ios justify-content-center mb-4">
  <div class="col-md-12">
    <h1 class="b-09 text-center text-uppercase text-h  display-4">produtos participantes*</h1>
  </div>
</div>
<div class="row ios justify-content-center">
  <div class="col-md-7 col-lg-9">
    <img src="./assets/images/produtos_promo.png" class="w-100" alt="">
  </div>
</div>
<div class="row ios justify-content-center">
  <div class="col-md-8">
    <a mdbBtn color="red" outline="true" class="waves-light rounded-pill my-4" mdbWavesEffect
    (click)="basicModal.show()">
      <h5 class="mb-0 b-08">*Clique aqui e confira os produtos participantes</h5>
    </a>
  </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h2 class="modal-title w-100 text-center b-09" id="myModalLabel">
          Três Corações e Condor<br>
          <span class="h4 text-muted b-07">01/10/2019 a 31/03/2020</span>
        </h2>
      </div>
      <div class="modal-body">
        <table mdbTable striped="true">
          <tbody>
            <tr mdbTableCol *ngFor="let el of frisco">
              <td class="text-uppercase b-07">{{el.nome}}</td>
              <td class="text-uppercase b-07">{{el.tipo}}</td>
              <td class=" b-07">{{el.ean}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
