@import "../../../../vars.scss";

#top {
  border-bottom: 5px solid #fff;
}

.perca{
  font-size: 3.9rem;
  line-height: 3.9rem;
  letter-spacing: -3px;
  @include stroke-text($color-H, 3px, $color-I);
  @include bolder(900);
}

// Text
.cada{
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: 4rem;
  letter-spacing: -1px;
  @include bolder(600);
}
.text-preco{
  color: $color-H;
  font-size: 7rem;
  @include stroke-text($color-H, 5px, $color-I);
  @include bolder(900);
  letter-spacing: -10px;
  text-align: right;
  span{
    bottom: 1rem;
    font-size: 3rem;
  }
}

.linha {
  position: relative;
  z-index: 1;
  &:before{
    border-bottom: 5px solid $color-I;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 15%; right: 0; bottom: 0;
    width: 85%;
    z-index: -1;
  }
  span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    margin-top: 10px;
    padding: 0 0px;
  }
}

.text-item {
  line-height: 2.1rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.9rem;
  font-weight: 800;
  text-align: left;
  position: relative;
  left: 0rem;
  top: 3.5rem;
  margin-left: 0px;
  .p0{
    font-size: 1.3rem;
    @include bolder(400);
  }
  .p2{
    font-size: 3rem;
    @include bolder(900);
  }
}

.text-item-2 {
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  left: 0rem;
  top: 1.5rem;
  margin-left: 15px;
  .p0{
    font-size: 1.3rem;
    @include bolder(400);
  }
  .p2{
    font-size: 3rem;
    @include bolder(900);
  }
  .produtos{
    line-height: 2rem;
    font-size: 2rem;
    color: $color-B;
  }
}

.ml-n1{
  margin-left: -1rem!important;
}

.text-number {
  position: relative;
  top: 1.3rem;
  color: $color-B;
  font-size: 7rem;
  @include bolder(700);
  letter-spacing: -2px;
}

.text0{
  position: relative;
  top: 4rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  .n0{
    font-size: 1.7rem;
    @include bolder(800);
  }
  .n2{
    font-size: 2.6rem;
    @include bolder(700);
  }
}

.igual{
  font-size: 3rem;
  color: $color-C;
  background: #fff;
  padding: 0px 10px;
  border-radius: 50%;
  position: relative;
  top: 3.7rem;
}

.item_3{
  margin-top: 30px;
  margin-left: 20px;
  color: #fff;
  font-size: 1rem;
}

.arrow{
  display: none;
  text-align: center;
  font-size: 3rem;
  color: #fff;;
}

.clube-condor{
  margin-top: 0px;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.6rem;
  color: #fff;
  @include bolder(600);
  span{
    color: $color-B;
  }
}


.box-caixa {
  border-bottom: 4px solid $color-I;
  // border-radius: 20px;
  // border: 2px solid #fff;
  // background:  rgba(0, 0, 0, 0.75);
}


@media(max-width: 1024px) {
  #sorte.py-5{
    padding-top: 0rem!important;
  }
  #mob-pro {

    text-align: center;
  }
  .cada{
    position: inherit;
    left: 10%
  }
  .text-preco{
    text-align: center;
  }
  .text-item {
    line-height: 2.2rem;

    position: relative;
    left: 0rem;
    top: 1.8rem;
    margin-left: 15px;
  }

  .text-item-2 {
    line-height: 2.2rem;
    left: 0rem;
    top: 3.5rem;
    margin-left: 15px;

  }

  .text-number {
    left: -.3rem;
    top: 3.5rem;
  }

  .text0{
    top: 4rem;
    .n0{ font-size: 1.3rem; }
    .n2{ font-size: 2.6rem; }
  }

  .igual{
    font-size: 2.3rem;
    padding: 0px 9px;
    top: 4rem;
  }

  .perca{
    font-size: 3.5rem;
    line-height: 3.7rem;
    letter-spacing: -2px;
    @include stroke-text(#fff, 1px, $color-H);
    @include bolder(900);
  }
  .linha {
    position: relative;
    z-index: 1;
    &:before{
      border-bottom: 5px solid $color-I;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 18%; right: 0; bottom: 0;
      width: 82%;
      z-index: -1;
    }
    span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      margin-top: 10px;
      padding: 0 0px;
    }
  }
}


@media(max-width: 800px) {
  #sorte.py-5{
    padding-top: 0rem!important;
  }
  #mob-pro {
    text-align: center;
  }
  .cada{
    position: inherit;
    left: 0%
  }
  .text-preco{
    font-size: 5rem;
    letter-spacing: -5px;
    text-align: center;
    span{
      font-size: 3rem;
    }
  }
  .text-item {
    line-height: 1.9rem;
    font-size: 1.4rem;
    position: relative;
    left: 0rem;
    top: 1rem;
    margin-left: 15px;
    .p0{ font-size: 1.3rem; }
    .p2{ font-size: 2.8rem; }
  }

  .text-item-2 {
    line-height: 2.2rem;
    font-size: 1.9rem;
    left: 0rem;
    top: 3.5rem;
    margin-left: 15px;
    .p0{ font-size: 1.3rem; }
    .p2{ font-size: 2.8rem; }
    .produtos{
      line-height: 1.8rem;
      font-size: 1.8rem;
    }
  }

  .text-number {
    left: -.3rem;
    top: 3.5rem;
    font-size: 5rem;
  }

  .text0{
    top: 1.5rem;
    .n0{ font-size: 1.3rem;  line-height: 1.7rem; }
    .n2{ font-size: 2.6rem; }
  }

  .igual{
    font-size: 2.3rem;
    padding: 0px 9px;
    top: 4rem;
  }

  .perca{
    font-size: 2.5rem;
    line-height: 2.2rem;
    letter-spacing: -2px;
    @include stroke-text(#fff, 1px, $color-H);
    @include bolder(900);
  }
  .linha {
    position: relative;
    z-index: 1;
    &:before{
      border-bottom: 5px solid $color-I;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 25%; right: 0; bottom: 0;
      width: 75%;
      z-index: -1;
    }
    span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      margin-top: 10px;
      padding: 0 0px;
    }
  }
}
@media(max-width: 450px) {
  #sorte.py-5{
    padding-top: 0rem!important;
  }
  #mob-pro {
    margin-top: -2rem;
    text-align: center;
  }
  .cada{
    position: inherit;
    left: 23%
  }
  .text-preco{
    text-align: center;
  }
  .text-item, .text-item-2 {
    text-align: center;
    position: inherit;
    left: 0rem;
    top: 0rem;
    margin-left: 0;
  }
  .igual{ display: none; }
  .arrow{ display: block; }
  .ml-n1{
    margin-left: 0rem!important;
  }
  .text-number {
    left: 3rem;
    top: -.5rem;
  }

  .text0{
    position: inherit;
    margin-top: 2rem;
    text-align: center;
  }

  .perca{
    font-size: 2.5rem;
    line-height: 2.2rem;
    letter-spacing: -2px;
    @include stroke-text(#fff, 1px, $color-H);
    @include bolder(900);
  }
  .linha {
    position: relative;
    z-index: 1;
    &:before{
      border-bottom: 5px solid $color-I;
      content: "";
      margin: 0 auto;
      position: absolute;
      top: 50%; left: 48%; right: 0; bottom: 0;
      width: 52%;
      z-index: -1;
    }
    span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      margin-top: 10px;
      padding: 0 0px;
    }
  }

}
