<p class="mb-0 white-text b-08 text-uppercase lead linha">
  <span>na compra de</span>
</p>
<div class="row ios no-gutters box-caixa my-2 mx-1">
  <div class="col-md-12 pt-0">
    <div class="row" *ngFor="let i of sorte" id="{{i.top}}">
      <div class="col-md-2">
        <!-- Preço -->
        <p class="text-preco text-shadow">{{i.preco}}</p>
      </div>
      <div class="col-md-5">
        <!-- Produtos -->
        <p class="mb-0" [ngClass]="{ 'text-item-2': i.item_2, 'text-item': !i.item_2 }" >
          <span class="">{{i.item_1}}</span>
          <span class="produtos text-shadow"><br>{{i.item_2}}</span>
        </p>
        <p class="mb-0 item_3">{{i.item_3}}</p>
      </div>
      <div class="col-md-5 text-left" id="mob-pro">
        <div class="d-flex justify-content-center">
          <div class="uno">
              <span class='text-preco mr-3'>=</span>
            <span class="text-preco text-shadow">{{i.number}}</span>
          </div>
          <div class="dos">
            <p class="text0">
              <span class="n0">{{i.text}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ios justify-content-center pt-5">
  <div class="col-md-12">
    <div class="text-center mt-0" id="participante">
      <h1 class="perca text-shadow">Serão 3 carros sorteados.</h1>
      <h1 class="perca text-shadow">Não perca a chance de ganhar um deles.</h1>
      <!-- <a mdbBtn color="white" outline="true" class="waves-light rounded-pill my-4" mdbWavesEffect
        href="https://www.condor.com.br/danone/assets/produtos.pdf" target="_blank">
        <h5 class="mb-0 text-shadow">*Clique aqui e confira os produtos participantes</h5>
      </a> -->
    </div>
  </div>
</div>
