<div class="container">
  <h1 class="text-center text-h b-09 mb-5">Como participar:</h1>
</div>
<div class="row row-ios no-gutters bg-last mb-4">
  <div class="col-md-4 mask {{i.mask}}" *ngFor="let i of text">
    <div class="p-4 box-participa">
      <h1>{{i.id}}</h1>
      <p class="b-07">
        {{i.text1}}
        <span class="marca" *ngIf="i.text2">{{i.text2}}</span>
        <span *ngIf="i.text3">{{i.text3}}</span>
      </p>
    </div>
  </div>
</div>
