@import "../../../../vars";

.box-participa {
  text-align: center;
  h1{
    @include bolder(900);
    font-size: 6rem;
    @include stroke-text();
    @include shadow();
  }
  p{
    font-size: 1.55rem;
    letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    span.marca{
      font-weight: 900;
      color: #fff;
    }
  }
}

@media(max-width: 1024px) {
  .box-participa {
    p{
      font-size: 1.1rem;
      letter-spacing: 0px;
      line-height: 1.4rem;
    }
  }
}

@media(max-width: 800px) {
  .box-participa {
    p{
      font-size: 1rem;
      letter-spacing: -1px;
      line-height: 1.3rem;
    }
  }
}

@media(max-width: 800px) {
  .box-participa {
    p{
      font-size: 1.5rem;
      letter-spacing: -1px;
      line-height: 1.8rem;;
    }
  }
}
