<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <a 
    class="btn-floating btn-lg d-none d-lg-block" 
    [ngx-scroll-to]="'#header'">
    <i class="fas fa-angle-up"></i>
  </a>
</div>
