@media(max-width: 450px) {
  .www-condor {
    h2{ font-size: 1.7rem; }
    p{ font-size: .8rem; }
  }
}

@media(max-width: 360px) {
  .www-condor {
    h2{ font-size: 1.5rem; }
    p{ font-size: .8rem; }
  }
}
