<div class="row ios justify-content-center">
  <div class="col-lg-11 col-xl-10 www-condor">
    <h2 class="text-center text-uppercase b-09 mb-2">
      <a href="https:www.condor.com.br" class="white-text" target="_blank">www.condor.com.br</a>
    </h2>
    <p class="text-center mb-0">
      Poderá participar desta campanha promocional qualquer consumidor, pessoa física, participante do Clube Condor,
      com cadastro completo, maior de 18 anos, que efetuar uma compra de 10 unidades de refrescos Frisco, participantes da promoção,
      em uma das lojas Condor, no período de 01/10/2019 a 31/03/2020. Certificado de autorização SECAP/MF Nº 04.004965/2019. 
      Imagens meramente ilustrativas.
    </p>
  </div>
</div>
