@import "../../../../vars";

.text-data {
  color: $color-I;
  @include bolder(900);
  @include shadow();
  text-align: center;
  border: 3px solid $color-I;
  border-radius: 20px;
  background: rgba(203, 45, 50, .8);
  margin-bottom: 20px;
  padding: 7px 0;
  cursor: pointer;
}

.text-data:hover {
  color: $color-I;
  border: 3px solid $color-I;
  background: rgba(203, 45, 50, 1);
}

.data-past{
  background: rgba(0,0,0,.3);
  color: rgb(216, 213, 213);
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.3);
  @include bolder(900);
  @include shadow();
  margin-bottom: 20px;
  padding: 15px 0 0 0;
  line-height: 2rem;
  cursor: pointer;
  border-radius: 20px;
}

.data-past:hover{
  background: rgba(255, 255, 255, 0.3);
  color: rgb(216, 213, 213);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.encerrada{
  white-space: nowrap;
  font-size: 1rem;
  @include bolder(500);
}

@media(max-width: 1024px) {
  .text-data, .data-past {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}


@media(max-width: 800px) {
  .text-data, .data-past {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .data-past{
    line-height: 1.5rem;
    .encerrada{
      white-space: initial;
      font-size: .8rem;
    }
  }
}

@media(max-width: 450px) {
  .text-data, .data-past {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
  .data-past{
    line-height: .9rem;
    .encerrada{
      white-space: initial;
      font-size: .8rem;
    }
  }
}
