
<h1 class="text-center b-09 mb-4 text-uppercase text-h display-4">Sorteios</h1>
<div class="row ios mb-5">
  <div class="col-12 col-sm-6 col-md-4" *ngFor="let i of sorteio">
    <h1 class="data-past pb-2" (click)="getPopPup(i)"
      [hidden]="(i.data | amDifference: today :'days' : true)  >=  0">
      {{i.data | date: 'dd/MM/yyyy'}}
      <p class="mb-4"></p>
    </h1>
    <h1 class="text-data"
      [hidden]="(i.data | amDifference: today :'days' : true)  <  0">
      {{i.data | date: 'dd/MM/yyyy'}}
      <p class="encerrada mb-0 white-text">Falta {{i.data | amDifference: today :'days' : true}} dias</p>
    </h1>
  </div>
</div>
<div class="row ios justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8 text-center">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" *ngIf="gallery === true"></ngx-gallery>
  </div>
</div>
