@import "../../../../vars";

.bg-download{
  @include gradient(180deg, #54a733, #cdd62b);
  border-radius: 20px;
}


@media(max-width: 1024px) {
  .num-sorte { font-size: 2.3rem; width: 75%; margin: 0 auto;}
}

@media(max-width: 800px) {
  .bg-download{
    h2{ font-size: 1.9rem;}
  }
  .num-sorte { font-size: 2.3rem; width: 75%; margin: 0 auto;}
}

@media(max-width: 450px) {
  .bg-download{
    h2{ font-size: 1.5rem;}
  }
}