<div class="text-center" id="meus-numeros">
  <h2 class="text-h b-08 mb-5">
    Clique abaixo e consulte seus números da sorte.
  </h2>
  <a mdbBtn gradient="condor-amarelho" href="https://www.promocoescondor.com.br/" target="_blank"
    class="text-uppercase font-weight-bold f-2 rounded-pill px-3 roboto">
    <h4 class="white-text text-shadow mb-0 b-07">Consultar meus números</h4>
  </a>
</div>

<div class="row ios justify-content-center">
  <div class="col-lg-12">
      <div class="bg-sorte br-10 py-5 my-5 z-depth-2">
        <h2 class="text-center b-08 px-4 white-text text-shadow">
          Baixe o Aplicativo Clube Condor para consultar seus Números da Sorte.
        </h2>
        <div class="my-4 row ios justify-content-center px-2">
          <div class="col-6 col-md-4 col-xl-4">
            <a href="https://play.google.com/store/apps/details?id=br.com.gsgroup.zoombox.condorsupermercados" target="_blank" rel="noopener">
              <img src="./assets/images/google-play.png" alt="Google Play" class="img-fluid">
            </a>
          </div>
          <div class="col-6 col-md-4 col-xl-4">
          <a href="https://apps.apple.com/br/app/clube-condor/id1453391822"  target="_blank" rel="noopener">
            <img src="./assets/images/app-store.png" alt="" class="img-fluid clube_tag">
          </a>
          </div>
        </div>
    </div>
  </div>
</div>
