/**
 * Font Style
 */



@mixin family ($nome) {
  font-family: $nome, sans serif!important;
}

/**
 * Colors
*/

$color-A: #98ff49;
$color-B: #93bc44;
$color-C: #1852c0;
$color-D: #ff9240;
$color-E: #ffd54f;
$color-F: #1e8adf;
$color-G: #00081d;
$color-H: #cb2d32;
$color-I: #ffd7b3;


@mixin bolder($number) {
  font-weight: $number!important;
}

@mixin gradient($grau,$color1, $color2) {
  background: linear-gradient($grau, $color1, $color2)!important;
}

@mixin shadow($opacidade: .8) {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, $opacidade);
}

@mixin imgCenter($port) {
  width: $port;
  margin: 0 auto;
}

@mixin  radius ($radio: 20px) {
  border-radius: $radio
}

@mixin stroke-text($fill: $color-H, $width: 3px, $stroke: #fff) {
  -webkit-text-fill-color: $fill; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $stroke;
}

/**
 * Compatibilidade com Safari Antigo
 */
@mixin safari() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

