@import "_vars.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap');



body {
  font-family: 'Nunito', sans-serif!important;
  background: url(./assets/images/bg_wood.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Barckground
.bg-fundo {
  background: $color-H!important;
  color: #fff;
}
.bg-sorte   { background: rgba(203, 45, 50, .8); }
.bg-creme { background: $color-I; }

// Border Radius
.br-10 {@include radius(10px); }
.br-20 {@include radius(); }

// Text-decore
.text-shadow { text-shadow: 2px 2px 3px rgba(0, 0, 0, .8); }
.text-a { color: $color-A; }
.text-b { color: $color-B; }
.text-c { color: $color-C; }
.text-h { color: $color-H; }

// Font-weight
.b-02{ @include bolder(200); }
.b-03{ @include bolder(300); }
.b-04{ @include bolder(400); }
.b-05{ @include bolder(500); }
.b-06{ @include bolder(600); }
.b-07{ @include bolder(700); }
.b-08{ @include bolder(800); }
.b-09{ @include bolder(900); }

// Compatibilidade Safari IOS

// Gradient
.rgba-1, .rgba-1:after { background-color: rgba(203, 45, 50, 0.6); }
.rgba-2, .rgba-2:after { background-color: rgba(203, 45, 50, 0.75); }
.rgba-3, .rgba-3:after { background-color: rgba(203, 45, 50, 0.9); }
.rgba-4, .rgba-4:after { background-color: rgba(203, 45, 50, 0.20); }

.condor-azu-gradient { @include gradient(180deg, $color-C, $color-F); }
.condor-amarelho-gradient { @include gradient(180deg, $color-D, $color-E); }

// Compatibilidade Safari
.ios{ @include safari(); }

.swal2-title {
  font-size: 1.3em!important;
}

.nome-gan {
  font-size: 2rem!important;
}

.bgCena {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 300px;
  width: 100%;
  background: url('./assets/images/anime/bg-animate.png') repeat 0 0;
  -webkit-animation: 200s linear 0s normal none infinite animate;
  animation: 200s linear 0s normal none infinite animate;
  #car{
    -vendor-animation-duration: 1s;
    -vendor-animation-delay: 0s;
    -vendor-animation-iteration-count: infinite;
    height: 150px!important;
    bottom: 10px;
    left: 180px;
    position: absolute;
    @-webkit-keyframes animate {
      from { background-position: 70000px 0;}
      to { background-position: 0 0; }
    }
    @keyframes animate {
      from { background-position: 70000px 0; }
      to { background-position: 0 0; }
    }
    @keyframes bounce {
      0%, 50%, 100% {
        transform: translateY(0);
      }
      25% { transform: translateY(-5px); }
      75% { transform: translateY(-2px); }
    }
  }
}


@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
  }
  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
  }

  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
  }

  90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@-webkit-keyframes rubberBand {
  from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }

  30% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
  }

  50% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
  }

  70% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
  }

  to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }

  30% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
  }

  50% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
  }

  70% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
  }


  to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@media (print),
(prefers-reduced-motion: reduce) {
  .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
  }
}
