
<div class="container">
  <div class="row row-ios justify-content-center no-gutters">
    <div class="col-md-11 text-center" id="promo">
      <img src="./assets/images/home.png" class="w-100" alt="">
    </div>
  </div>
</div>
<img src="./assets/images/tenda.png" alt="" class="fixed-top">
