@import "../../../../vars";

#title-h1 {
  margin-left: -4rem;
  margin-right: 2rem;
}

.p-60 { padding-left: 150px!important; }

.img-promo{ @include imgCenter(92%); }
@media(max-width: 1024px) {
  #promo{ margin-top: 50px}
  .p-60 { padding-left: 0!important; }
  .img-promo{ @include imgCenter(100%) }
  #title-h1 {
    padding: 0 10px;
    font-size: 1.9rem;
    margin-left: -4rem;
    margin-right: 2rem;
    @include shadow()
  }
  #title-h3{
    @include imgCenter(100%);
    text-align: left;
    font-size: 1.1rem;
  }
}

@media(max-width: 800px) {
  #promo{ margin-top: 15px}
  .p-60 { padding-left: 0!important; }
  .img-promo{ @include imgCenter(75%) }
  #title-h1 {
    text-align: center;
    padding: 0 10px;
    font-size: 1.9rem;
    margin-left: 0rem;
    margin-right: 0rem;
    @include shadow()
  }
  #title-h3{
    @include imgCenter(80%);
    text-align: center;
    font-size: 1.3rem;
  }
}

@media(max-width: 450px) {
  #promo{ margin-top: 10px}
  .p-60 { padding-left: 0!important; }
  #title-h1 {
    text-align: center;
    padding: 0 10px;
    font-size: 1.6rem;
    margin-left: 0rem;
    margin-right: 0rem;
    @include shadow()
  }
  #title-h3{
    text-align: center;
    padding: 0 10px;
    font-size: 1.15rem;
  }
}
